<div class="sidebar">
    <h3 class="sidebar__header"><a href="http://www.restorationhardware.com/company-info/index.jsp" class="sidebar__header__link">Company Information</a></h3>
    <ul class="sidebar__links">
        <li><a href="http://www.restorationhardware.com/company-info/about-us.jsp" class="">Company Overview</a></li>
        <li><a href="http://www.restorationhardware.com/store-locations/index.jsp">Store Locations</a></li>
        <li><a href="http://ir.restorationhardware.com/">Investor Relations</a></li>
        <li><a href="http://www.restorationhardware.com/company-info/management-team.jsp" class="">Leadership Team</a></li>
        <li><a href="http://www.restorationhardware.com/company-info/business-sales-and-gifts.jsp" class="">Business Sales &amp; Gifts</a></li>
        <li><a href="http://www.restorationhardware.com/trade-sales/index.jsp">Trade Sales</a></li>
        <li><a href="http://www.restorationhardware.com/contract-sales/index.jsp">Contract Sales</a></li>
        <li><a href="http://www.restorationhardware.com/company-info/jobs/index.jsp" class="activated">Careers</a></li>
        <li><a href="http://www.restorationhardware.com/content/page.jsp?id=pr">Press</a></li>
        <li><a href="http://www.restorationhardware.com/company-info/press.jsp" class="">Press Inquiries</a></li>
        <li><a href="http://www.restorationhardware.com/customer-service/contact-us.jsp">Contact Us</a></li>
    </ul>
</div>
