/*----------------------------------*/
/* Base Styles                      */
/*----------------------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, figure, figcaption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
}

body, input, select, button, table {
    background: #fff;
    font: 12px/18px "proxima-nova", "open-sans", Arial, Helvetica, sans-serif;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}


h1 {
    font: 18px/18px "minion-pro", Times, "Times New Roman";
    margin: 0 0 18px 0;
    padding-top: 10px;
}

h3 {
    font: 14px/18px "proxima-nova", "open-sans", Arial, Helvetica, sans-serif;
}

p {
    margin: 0 10px 9px 0;
}

.utility {
    display: inline-block;
    position: absolute;
    right: -12px;
    top: 25px;
}

.group {
    height: auto;
}

.logo {
    display: inline-block;
    position: relative;
    top: 13px;
    height: 26px;
    width: 46px;
    transition-delay: .325s !important;
    background-image: url(/site/assets/images/rh-logo-black-2016.png);
    background-image: url(/site/assets/images/rh-logo-black-2016.svg), none;
    background-size: 46px 26px;
}

.header__container {
    position: relative;
}

.header-wrapper, .header-wrapper--no-margin {
    background: transparent;
    min-width: 1060px;
    width: 100%;
    height: 106px;
    margin-bottom: 0;
}

.header, .header-checkout {
    position: relative;
    height: 52px;
    border-bottom: 1px solid #CCC;
    margin: 0 auto;
    width: 1000px;
    margin-bottom: 3px;
}

.uber-nav-wrapper {
    display: inline-block;
    position: relative;
    top: 13px;
    left: 43px;
}

#uber-nav {
    background-color: transparent;
    box-sizing: border-box;
    font: 11px/18px "proxima-nova", "open-sans", Arial, Helvetica, sans-serif;
    height: 32px;
    text-align: center;
    text-transform: uppercase;
}

#uber-nav li.site-hidden {
    display: none;
}

.uber-nav__brand {
    display: inline-block;
    padding-right: 34px;
}

.uber-nav__brand a {
    color: #999;
    display: inline-block;
    font: 11px/18px "proxima-nova", "open-sans", Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    padding: 8px 0;
    text-decoration: none;
    text-transform: uppercase;
}

#mini-cart {
    top: 52px;
    width: 460px;
    padding: 0px;
    border: 1px solid #666;
    display: none;
    position: absolute;
    right: 0;
    left: auto;
    z-index: 1001;
    cursor: default;
    background-color: #fff;
}

.home-top-level-subnav-border {
    margin-bottom: 0;
}

.top-level-subnav {
    height: 30px;
    margin: 0 auto;
    position: relative;
    vertical-align: middle;
    width: 1000px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.shop-nav {
    z-index: 105;
    background: transparent;
}

.trigger-subnav-category:first-child {
    margin-left: 0;
}

.top-level-subnav > li {
    position: relative;
    cursor: pointer;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    letter-spacing: 0.15em;
}

.shop-nav .subnav-category-text {
    margin: 0 1.3em 0 0;
}

.subnav-category-text {
    color: black;
    font: 10px/18px "proxima-nova", "open-sans", Arial, Helvetica, sans-serif;
    line-height: 30px;
    position: relative;
    text-transform: uppercase;
    white-space: nowrap;
}

.subnav-category-underline {
    background-color: black;
    display: none;
    height: 1px;
    position: absolute;
    top: 23px;
    width: 100%;
    z-index: 1002;
}

.top-level-subnav a {
    font-weight: inherit;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

#header-utils {
    color: black;
    font: 10px/18px "proxima-nova", "open-sans", Arial, Helvetica, sans-serif;
    text-transform: none;
    text-align: right;
}

#header-utils a {
    text-decoration: none;
    color: black;
    letter-spacing: 0.1em;
}

.commerce-utils > li.first {
    border-width: 0;
}

.commerce-utils > li {
    display: inline-block;
    line-height: 100%;
    padding: 6px 12px;
    text-align: left;
    text-transform: uppercase;
    vertical-align: top;
    zoom: 1;
    letter-spacing: 0;
}

.search-icon {
    background: url(/site/assets/images/icon-search-black.png) center center no-repeat;
    background-image: url(/site/assets/images/icon-search-black.svg), none;
    background-size: 12px 12px;
    cursor: pointer;
    height: 12px;
    margin-top: -1px;
    width: 22px;
}

#container, #container--fullwidth {
    clear: both;
    margin: 0 auto 75px;
    width: 1060px;
    min-height: 500px;
    position: relative;
}

#wrap {
    width: 1000px;
    margin: 0 auto;
    position: relative;
    padding: 0 30px;
}

#content {
    position: relative;
}

.flexbox .grid {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: box;
    display: flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.grid {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: -20px;
    letter-spacing: -0.31em;
}

.grid--wide {
    margin-left: -40px;
}

.grid--wide > .grid__item {
    padding-left: 40px;
}

.one-quarter, .two-eighths, .three-twelfths {
    width: 25%;
}

.one-fifth, .two-tenths {
    width: 20%;
}

.four-fifths, .eight-tenths {
    width: 80%;
}

.grid__item {
    display: inline-block;
    padding-left: 20px;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    letter-spacing: normal;
    word-spacing: normal;
}

.sidebar, .sidebar a {
    text-decoration: none;
    color: #777;
}

.sidebar {
    min-height: 535px;
    padding-bottom: 30px;
}

.sidebar__header, .sidebar__header__link {
    margin: 10px 0 36px 0;
    font: 400 13px/18px "minion-pro", Times, "Times New Roman";
    color: #777;
    letter-spacing: normal;
    text-transform: uppercase;
    padding: 0;
}

.sidebar__links {
    padding: 0;
    margin: 0 0 20px 0;
    list-style: none;
}

.sidebar__links li {
    margin-bottom: 20px;
    font: 300 12px/18px "proxima-nova", "open-sans", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.footer-container {
    min-width: 1060px;
    clear: both;
    background-color: transparent;
    padding-top: 52px;
}

#footer-menus {
    box-sizing: border-box;
    padding: 20px 0px 30px 80px;
}

#footer-menus {
    overflow: hidden;
    margin: 0 auto;
    box-sizing: border-box;
    width: 1060px;
    text-align: left;
    padding: 20px 0px 30px 80px;
    letter-spacing: 0.15em;
}

#footer-menus .menu h3 {
    font: 12px/27px "minion-pro", Times, "Times New Roman";
    text-transform: uppercase;
    margin-bottom: 14px;
    color: #333;
}

#footer-menus li {
    margin-bottom: 8px;
    font: 300 10px/17px "proxima-nova", "open-sans", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

#footer-menus .menu a {
    text-decoration: none;
    color: #666;
}

#footer-copyright {
    color: #666;
    font-size: 9px;
    letter-spacing: 0.2em;
    padding-bottom: 10px;
    margin-top: 65px;
}

#footer-copyright {
    text-align: center;
    margin-top: 5px;
    font-size: 90%;
}


.company-info .four-fifths h1, .company-info .eight-tenths h1 {
    margin-top: 72px;
}

.my-account .four-fifths h1, .my-account .eight-tenths h1, .gift-registry .four-fifths h1, .gift-registry .eight-tenths h1, .customer-service .four-fifths h1, .customer-service .eight-tenths h1, .company-info .four-fifths h1, .company-info .eight-tenths h1, .contract-sales .four-fifths h1, .contract-sales .eight-tenths h1, .trade-sales .four-fifths h1, .trade-sales .eight-tenths h1, .content-page-header {
    padding-top: 10px;
    margin-bottom: 18px;
    margin-top: 54px;
    font: 13px "minion-pro", Times, "Times New Roman";
    letter-spacing: 0;
    text-transform: uppercase;
}

.brand, .tabs a {
    text-transform: uppercase;
    letter-spacing: 0.08em;
}

.my-account .four-fifths > h3, .my-account .eight-tenths > h3, .my-account .four-fifths .second-heading, .my-account .eight-tenths .second-heading, .gift-registry .four-fifths > h3, .gift-registry .eight-tenths > h3, .gift-registry .four-fifths .second-heading, .gift-registry .eight-tenths .second-heading, .customer-service .four-fifths > h3, .customer-service .eight-tenths > h3, .customer-service .four-fifths .second-heading, .customer-service .eight-tenths .second-heading, .company-info .four-fifths > h3, .company-info .eight-tenths > h3, .company-info .four-fifths .second-heading, .company-info .eight-tenths .second-heading, .contract-sales .four-fifths > h3, .contract-sales .eight-tenths > h3, .contract-sales .four-fifths .second-heading, .contract-sales .eight-tenths .second-heading, .trade-sales .four-fifths > h3, .trade-sales .eight-tenths > h3, .trade-sales .four-fifths .second-heading, .trade-sales .eight-tenths .second-heading {
    margin: 30px 0 13px 0;
    text-transform: uppercase;
    font: 12px "proxima-nova", "open-sans", Arial, Helvetica, sans-serif;
}
